#progress p {
    display:block;
    width:240px;
    padding:5px 10px;
    margin:2px 0;
    background: #fff url("../images/progress.png") 100% 0 repeat-y;
}

#progress p.success {
    background:#0c0 none 0 0 no-repeat;
}

#progress p.failed {
    background:#c00 none 0 0 no-repeat;
}

span.trash {
    color:#a00;
    cursor:pointer;
}

span.trash&:hover {
    color:#D9292A;
}

#app h2 {
    margin-bottom:2em;
}

ul.filelist li {
    margin-bottom:30px;
}

ul.filelist li h4 {
    margin-bottom:1em;
    font-size:1.2em;
}
