#progress p {
    display:block;
    width:240px;
    padding:5px 10px;
    margin:2px 0;
    background: #fff url("../images/progress.png") 100% 0 repeat-y;
}

#progress p.success {
    background:#0c0 none 0 0 no-repeat;
}

#progress p.failed {
    background:#c00 none 0 0 no-repeat;
}

span.trash, span.clipboard_btn {
    display:inline-block;
    padding: 9px 10px 8px 10px;
}

span.trash {
    color:#ffffff;
    cursor:pointer;
    background:#a00;
}

span.trash&:hover {
    color:#D9292A;
}

span.clipboard_btn {
    cursor:pointer;
    background:#555;
    color:#ffffff;
}

input#url {
    padding:8px 5px;
}

#app h2 {
    margin:5px 0;
    font-size:1.1em;
}

ul.filelist li {
    margin-bottom:30px;
}

ul.filelist li h4 {
    margin-bottom:1em;
    font-size:1.2em;
}
