#progress p {
    display:block;
    width:240px;
    padding:5px 10px;
    margin:2px 0;
    background: #eee url("../images/progress.png") 100% 0 repeat-y;
}

#progress p.success {
    background:#0c0 none 0 0 no-repeat;
}

#progress p.failed {
    background:#c00 none 0 0 no-repeat;
}
